<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - library_otomation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/library_otomation.styles.css" asp-append-version="true" />
</head>

<body>
<header>
    <div class="main-page">
        <div class="mainrow">
            <div class="main-content">
                <h2>
                    “Kültür; okumak, anlamak, görebilmek, <br> görebildiğinden anlam çıkarmak, uyanık davranmak,
                    <br> düşünmek, zekayı terbiye etmektir. <br> M.Kemal ATATÜRK”
                </h2>
                <button class="searchInput">Tüm kitaplar</button>

            </div>
        </div>
    </div>
</header>
    <div class="latest-added">
        <div class="heading">
            <h1>All Books</h1>
            <input type="text" class="searchInput" placeholder="Search Book Name" id="myInput">
        </div>
        @if (Model != null && Model.Any())
        {
            @foreach (var book in Model)
            {
                <div class="latest-col">
                    @* <div class="limg">
                    <img src="@book.ImagePath" alt="@book.Title" />
                </div> *@
                    <div class="info">
                        <h3>@book.Name</h3>
                        <p><b>Author:</b> @book.Author</p>
                        <p><b>Published:</b> @book.Year</p>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No books found.</p>
        }
        @*       <div class="latest-row" id="booknamesearch">
            <div class="latest-col">
                <div class="limg"><img src="images/c++ img.jpg"></div>
                <div class="info">
                    <h3>Learning The C++</h3>
                    <p><b>Author:</b>Justin Hickey</p>
                    <p><b>Published:</b> 2021</p>
                </div>
            </div>
            <div class="latest-col">
                <div class="limg"><img src="images/python img.jpg"></div>
                <div class="info">
                    <h3>Python Programming</h3>
                    <p><b>Author:</b>Anthony Brun</p>
                    <p><b>Published:</b> 2020</p>
                </div>
            </div>
            <div class="latest-col">
                <div class="limg"><img src="./images/java img.jpg"></div>
                <div class="info">
                    <h3>Java Fundamentals</h3>
                    <p><b>Author:</b>Premchand S. Nair</p>
                    <p><b>Published:</b> 2019</p>
                </div>
            </div> *@
    </div>


    <script src="lib.js"></script>


</body>

</html>